/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .modal-content h3 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  
  .modal-content p {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
  }
  
  .modal-whatsapp-button {
    display: block;
    background: #25d366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
    text-align: center;
    width: 100%;
  }
  
  .modal-whatsapp-button:hover {
    background: #1ebf5e;
  }
  
  .modal-whatsapp-button:hover {
    background: #1ebf5e;
  }
  
  /* Animación de entrada */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsividad */
  @media (max-width: 480px) {
    .modal-content {
      width: 95%;
      padding: 15px;
    }
  
    .modal-content h3 {
      font-size: 18px;
    }
  
    .modal-content p {
      font-size: 14px;
    }
  
    .modal-whatsapp-button {
      padding: 8px 15px;
    }
  }
  .modal-call-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 16px;
    background-color: #e56d0b;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .modal-call-button:hover {
    background-color: #be361e;
  }