/* Estilos para la página de Productos */

  .title {
    font-size: 2rem;
    color: #000000;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
  }
  
  /* GRID PARA LAS TARJETAS */
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  /* ESTILOS PARA LOS LINKS QUE CONTIENEN LAS TARJETAS */
  .categories-grid a {
    text-decoration: none;
  }
  
  /* RESPONSIVE */
  @media (max-width: 768px) {
    .title {
      font-size: 1.8rem;
    }
    .categories-grid {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 15px;
    }
  }
  